    <div id="footer">
        &copy; DXC Technology <script>
            document.write(new Date().getFullYear());
        </script>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170043171-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-170043171-1');
    </script>
    </body>

    </html>